<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ich.monitor.dao.IDataMonitorMapper">

	<insert id="insertInit" parameterType="com.ich.monitor.pojo.IDataMonitor">
		INSERT INTO ich_monitor_server(servername,servercode,serverip,serverremark,cover,repeatid,latesttime,warnstamp,serverstatus)
		VALUES(#{servername},#{servercode},#{serverip},#{serverremark},#{cover},#{repeatid},#{latesttime},#{warnstamp},#{serverstatus})
	</insert>

	<update id="updateInit" parameterType="com.ich.monitor.pojo.IDataMonitor">
		UPDATE ich_monitor_server
		SET serverip = #{serverip},serverremark = #{serverremark},cover = #{cover},repeatid = #{repeatid},latesttime = #{latesttime},warnstamp = #{warnstamp},serverstatus = #{serverstatus}
		WHERE servername = #{servername} AND servercode = #{servercode}
	</update>

	<update id="updateLatestTime">
		UPDATE ich_monitor_server
		SET latesttime = now()
		WHERE servername = #{servername} AND servercode = #{servercode}
	</update>

	<update id="updateServerstatus">
		UPDATE ich_monitor_server
		SET serverstatus = #{serverstatus}
		WHERE servername = #{servername} AND servercode = #{servercode}
	</update>

	<select id="selectByPrimarykeys"  resultType="com.ich.monitor.pojo.IDataMonitor">
		SELECT * FROM ich_monitor_server WHERE servername = #{servername} AND servercode = #{servercode}
	</select>

	<select id="selectAll" resultType="com.ich.monitor.pojo.IDataMonitor">
		select * from ich_monitor_server
	</select>

	<select id="selectEffectiveByServercode" resultType="com.ich.monitor.pojo.IDataMonitor">
		SELECT * FROM ich_monitor_server WHERE serverstatus = 1 AND servercode = #{servercode}
	</select>

	<select id="selectDisEffectiveByServercode" resultType="com.ich.monitor.pojo.IDataMonitor">
		SELECT * FROM ich_monitor_server WHERE serverstatus = 2 AND servercode = #{servercode}
	</select>



</mapper>