<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ich.extend.dao.IFeedbackMapper" >

    <insert id="insert" parameterType="com.ich.extend.pojo.IFeedback">
        INSERT INTO ich_ext_feedback(id,username,contact,context,createtime,status)
        VALUES(#{id},#{username},#{contact},#{context},#{createtime},#{status})
    </insert>

    <update id="updateStatus" >
        UPDATE ich_ext_feedback
        SET status=#{status}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM ich_ext_feedback WHERE id = #{id}
    </delete>

    <select id="selectById" resultType="com.ich.extend.pojo.IFeedback">
        SELECT * FROM ich_ext_feedback WHERE id = #{id}
    </select>

    <select id="selectOfList" parameterType="String" resultType="com.ich.extend.pojo.IFeedback">
        SELECT * FROM ich_ext_feedback
        <if test="searchkey!=null and searchkey!=''">  WHERE username like '%${username}$' OR contact like '%${contact}$' OR context like '%${context}$' </if>
        ORDER BY createtime DESC
    </select>


</mapper>